{% extends "base.html" %}

{% block body %}
<table class="table table-hover">
  <thead>
    <tr>
      <th>任务</th>
      <th>状态</th>
      <th>优先级</th>
      <th>创建时间</th>
      <th>开始时间</th>
      <th>结束时间</th>
      <th>创建</th>
    </tr>
  </thead>
  <tbody>
    {% for task in task_list %}
        <tr>
            <td>{{ task['task_id'] }}</td>
            <td>{{ task['status'] }}</td>
            <td>{{ task['level'] }}</td>
            <td>{{ task['create_time'] }}</td>
            <td>{{ task['start_time'] }}</td>
            <td>{{ task['end_time'] }}</td>
            <td>{{ task['own_user'] }}</td>
        </tr>
    {% end %}
  </tbody>
</table>
<p class="text-right"><button type="button" class="btn btn-info">登录</button></p>
{% end %}